.input-container {
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2px;
}


.email-container {
	width: 100%;
	position: relative;
}

.email-input {
	width: 100%;
	height: 40px;
}
