.text-field-container {
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.text-field-container .text-input-container {
	width: 100%;
	position: relative;
}

.text-field-container .text-input {
	padding: 10px;

	width: 100%;
	height: 40px;

	box-sizing: border-box;
}
