.reset-password-form {
	width: 250px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reset-password-options {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	gap: 10px;
}

.validation-text {
	color: red;
	font-size: x-small;
}
